@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgroundFundo: #9f9f9f;
  --backgroundBranco: #fbfbfb;
  --backgroundPreto: #08070b;
  --cizaEscuro: #6c706f;
  --cinzaClaro: #97ab9f88;
}

body {
  background: rgb(218, 209, 209);
  font-family: "Montserrat", sans-serif;
}

.celular {
  background-color: var(--backgroundPreto);
  width: 265px;
  height: 505px;
  margin: auto;
  margin-top: 70px;
  padding-top: 25px;
  border-radius: 25px;
}

.altoFalante {
  background-color: #3c3c3dc4;
  width: 50px;
  height: 10px;
  margin: auto;
  margin-top: -13px;
  margin-bottom: 10px;
  border-radius: 50px;
}

.fundo {
  background-color: var(--backgroundBranco);
  width: 250px;
  height: 450px;
  margin: auto;
  border-radius: 25px;
}

.calculadora {
  padding-top: 70px;
  margin-left: 5px;
}

.status {
  font-size: 12px;
  margin-top: -68px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#resumo {
  width: 240px;
  height: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-right: 5px;
  font-size: 15px;
  text-align: right;
}

#resultado {
  width: 240px;
  height: 40px;
  color: #42a03a;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-right: 5px;
  font-size: 34px;
  text-align: right;
}

.divisoria {
  background-color: var(--cinzaClaro);
  width: 180px;
  height: 1px;
  border-radius: 50px;
  margin: auto;
  margin-bottom: 5px;
}

.botao {
  font-family: "Montserrat", sans-serif;
  background-color: #0000;
  width: 50px;
  height: 50px;
  margin: 4px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

.botao:hover {
  background-color: rgba(0, 0, 0, 0.11);
}

#backspace {
  background-color: yellow;
}

#botaoEscuro {
  background-color: var(--cinzaClaro);
  transition: 0.3s;
}

#botaoEscuro:hover {
  background-color: #97ab9fbe;
}

#iqual {
  height: 110px;
  background-color: var(--cinzaClaro);
  transition: 0.3s;
}

#iqual:hover {
  background-color: #97ab9fbe;
}

#zero {
  width: 110px;
}

@media only screen and (max-width: 425px) {
  .celular {
    background-color: rgb(218, 209, 209);
  }

  .altoFalante {
    background-color: rgb(218, 209, 209);
  }
  .status {
    display: none;
  }

  .calculadora {
    padding-top: 17px;
  }

  .fundo {
    height: 1000px;
    width: 410px;
    margin-top: -92px;
    margin-left: -71px;
  }

  .calculadora {
  }

  .botao {
    width: 85px;
    margin-top: 30px;
    height: 85px;
    font-size: 40px;
  }

  .divisoria {
    width: 280px;
  }

  #resumo {
    width: 370px;
    margin-top: 156px;
    font-size: 25px;
  }

  #resultado {
    width: 370px;
    font-size: 80px;
    margin-bottom: 91px;
    margin-top: 50px;
  }

  #iqual {
    height: 200px;
  }

  #zero {
    width: 200px;
  }
}
